<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.hilareut.todoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:name="com.hilareut.todoapp.activities.App">
        <receiver
            android:name="com.hilareut.todoapp.AlarmManager.MyAlarmReceiver"
            android:enabled="true"
            android:process=":remote" >
        </receiver>
        <service
            android:name="com.hilareut.todoapp.AlarmManager.MyTestService"
            android:enabled="true"
            android:exported="false"/>

    <activity
        android:name="com.hilareut.todoapp.activities.LoginActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="utQMLxMYur35Dt5ZSEkwuVgQ8LgOfyloEw70wFlQ" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="6rhHRhdOD784fTAjHPr0XQi7FLoUUN9cWopz0Ouh" />

    <activity android:name="com.hilareut.todoapp.activities.DisplayTaskActivity"/>
    <activity android:name="com.hilareut.todoapp.activities.MainActivity"/>
    <activity android:name="com.hilareut.todoapp.activities.DispatchActivity"/>
    <activity android:name="com.hilareut.todoapp.activities.SignUpActivity"/>
    <activity android:name="com.hilareut.todoapp.activities.CreateATeamActivity"/>
    <activity android:name="com.hilareut.todoapp.activities.PhotoIntentActivity"/>
    <activity android:name="com.hilareut.todoapp.activities.UserActivity"/>





    </application>
</manifest>